:root {
    --green: #53C289;
    --beige: #FCF8E8;
  }
  * {
    box-sizing: border-box;
  }
    
  body {
      font-family: Arial, Helvetica, sans-serif;
  }
  @keyframes Move{
    0%{
      transform: translate(50px,0);
    }
    100%{
      transform: translate(0,0);
    }
  }
  /* Start Header Css */
    
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .header li {
    float: left; 
  }
    
  .header li a {
    display: block;
    color: var(--green);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
    
  .header li a:hover {
    background-color: var(--green);
    color: white;
    border-radius: 20px;
  }
  /* End Header Css */
/* Body Code Start Here */

.container{
    width: 85%;
    background: var(--green);
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    margin-left: 7%;
    margin-top: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: Move 2s ease 1;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: white;
  }
  
  
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 30px;
    font-weight: 600;
    color: white;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: var(--green);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    color: var(--green);
    background: var(--beige);
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }


/* Body Code End Here */


  /* Style the footer */
footer {
    background-color: var(--green);
    width: 100%;
    height: 50px;
    height: 50px;
    color: white;
    text-align-last: center;
    font-weight: bold;
    position: fixed;
    bottom: 0
  }